

<div id="related">
  <div class="section-title big">RELATED PRODUCTS</div>
  <div class="related">
    <div class="main">
      {%- assign current_product_id = product.id -%}
      {%- assign collections_to_exclude = 'all' | split: ',' -%}
      {%- assign current_collection = null -%}

      <!-- Loop through collections to find a specific one -->
      {%- for collection in product.collections -%}
          {%- unless collections_to_exclude contains collection.handle -%}
              {%- assign current_collection = collection -%}
              {%- break -%}
          {%- endunless -%}
      {%- endfor -%}

      <!-- Debugging Outputs -->


      {%- if current_collection -%}
          <!-- Filter related products -->
          {%- assign related_products = current_collection.products | where: "available", true -%}
          {%- assign related_products = related_products | reject: "id", current_product_id -%}

          <!-- Check if filtered related products exist -->
          {%- if related_products.size > 0 -%}
              {%- for product in related_products limit: 4 -%}
                  {% include 'product-body' with product %}
              {%- endfor -%}
          {%- else -%}
              <p>No related products available.</p>
          {%- endif -%}
      {%- else -%}
          <p>No related products available.</p>
      {%- endif -%}
      </div>
  </div>
</div>
