<section
    data-section-id="info-page"
    class="info-page"
  >
    {% for block in section.blocks %}
      {% case block.type %}
          {% when 'summary' %}
          {% unless block.settings.subtitle and block.settings.interior  == blank %}
            <div class="section">
             <div class="title-infos">{{ block.settings.Name }}</div>
              <div class="content-infos">{{ block.settings.Location }}</div>
            </div>
          {% endunless %}
      {% endcase %}
    {% endfor %}
  </section>

  
  {% schema %}
  {
    "name": "About",
    "blocks": [
      {
        "type": "summary",
        "name": "Content",
        "settings": [
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Description"
          }
        ]
        }
    ],
    "presets": [
      {
        "name": "About"
      }
    ]
  }
  {% endschema %}
  