<div class="title-aim">
    {% for block in section.blocks %}
      <div id="block-{{ block.id }}">
        {% unless block.settings.text == blank %}
          <div class="content">{{ block.settings.text | newline_to_br }}</div>
        {% endunless %}
      </div>
    {% endfor %}
  </div>
  
  {% schema %}
  {
    "name": "Intro",
    "blocks": [
      {
        "type": "richtext",
        "name": "Intro",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Content",
            "default": "Enter your text here..."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "aim"
      }
    ]
  }
  {% endschema %}
  