<div class="simple-text">
    {% for block in section.blocks %}
      <div id="block-{{ block.id }}" class="simple-text-block big">
        {% unless block.settings.text == blank %}
          <div class="content">{{ block.settings.text | newline_to_br }}</div>
        {% endunless %}
      </div>
    {% endfor %}
  </div>
  
  {% schema %}
  {
    "name": "Text",
    "blocks": [
      {
        "type": "text",
        "name": "Text Block",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Enter your text here..."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "aim"
      }
    ]
  }
  {% endschema %}
  