
<div class="global-text-section">
    <p>{{ section.settings.footer }}</p>
  </div>
{% schema %}
{
  "name": "Contact",
  "settings": [
    {
        "type": "richtext",
        "id": "footer",
        "label": "Footer"
      }
  ]
}
{% endschema %}


