<section
  data-section-id="stocklist"
  id="stocklist"
  class="stocklist"
>
  <div class="sec">
    <div class="location">Location</div>
    <div class="name">Place</div>
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
        {% when 'summary' %}
        {% unless block.settings.subtitle and block.settings.interior  == blank %}
          <div class="section">
            <div class="location">{{ block.settings.Location }}</div>
            <div class="name">{{ block.settings.Name }}</div>
          </div>
        {% endunless %}
    {% endcase %}
  {% endfor %}
</section>
{% schema %}
{
  "name": "Stockist",
  "blocks": [
    {
      "type": "summary",
      "name": "Stockist",
      "settings": [
        {
          "type": "richtext",
          "id": "Name",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "Location",
          "label": "Location"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Stockist"
  }
]
}
{% endschema %}
