<section
    data-section-id="about-page"
    class="about-page">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'summary' %}
        {% unless block.settings.subtitle == blank and block.settings.image == blank and block.settings.title == blank %}
          <div class="section">
            {% if block.settings.title %}
              <div class="content-inside">
                {% if block.settings.subtitle %}
                  <div class="title-about">{{ block.settings.subtitle }}</div>
                {% endif %}
                {{ block.settings.title }}</div>
            {% endif %}
            
            {% if block.settings.image %}
              <div class="image-infos">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.subtitle }}">
              </div>
            {% endif %}
          </div>
        {% endunless %}
      {% endcase %}
    {% endfor %}
  </section>
  
    
    {% schema %}
    {
      "name": "Store",
      "blocks": [
        {
          "type": "summary",
          "name": "Content",
          "settings": [
            {
              "type": "richtext",
              "id": "subtitle",
              "label": "Title"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "richtext",
              "id": "title",
              "label": "Description"
            }
          ]
          }
      ],
      "presets": [
        {
          "name": "Store"
        }
      ]
    }
    {% endschema %}
    