<section
    data-section-id="info-page"
    class="info-page"
  >
    {% for block in section.blocks %}
      {% case block.type %}
          {% when 'summary' %}
            <div class="section">
             <div class="title-infos">{{ block.settings.Name }}</div>
              <div class="content-infos">{{ block.settings.Location }}</div>
            </div>
      {% endcase %}
    {% endfor %}
  </section>




  {% schema %}
  {
    "name": "Returns",
    "blocks": [
      {
        "type": "summary",
        "name": "Returns",
        "settings": [
          {
            "type": "richtext",
            "id": "Name",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "Location",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Returns"
      }
    ]
  }
  {% endschema %}