@charset "utf-8";
/* CSS Variables */
:root {
  --main: 14px;
  --big: 28px;
  --lh:120%;
  --gap: 10px;
  --grey: #f1f2f2;
  --body: 'helvetica';
}
::selection{
  color:var(--blue);
  background-color: black;
}

a:hover{
  color:grey;
}
.ui-admin-bar--is-collapsed .ui-admin-bar__content {
  padding: 0;
  background: transparent;
  display: none!important;
}
/* Fonts */
@font-face {
  font-family: 'helvetica';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.product {
  grid-column: span 3;
}

@font-face {
  font-family: 'Kamerik105-Book';
  src: url('../assets/Kamerik105-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.m{
  padding: 5px;
}
html {
  padding-bottom: 0px!important;
}

ol,
ul,
li {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
svg{
  width: 170px;
  align-self: flex-end;
  padding-bottom: 0px;
}

input,
button,
select {
  font-size: clamp(var(--big), 1.5vw, 2rem)!important;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--body);
  font-size:var(--main)!important;
}
.product-simple #product-select{
  display: none;
}
.hero{
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 100%;
  grid-column: span 12;

}
label[for="product-select"] {
  display: none;
}

.hero .simple-text{
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
  text-align: center;
  z-index: 0;
  padding: 20px 0px;
  color: white;
  background-color: var(--blue);
}
label {
  display: none;
}


.news-content {
  align-items: center;
  grid-template-columns: repeat(3, 11fr);
  grid-column: span 8;
  display: grid;
  grid-gap: 2px;
}
.news-content img{
  margin-top: 20px;
  grid-column: 2/span 1;

}
.news-content .view{
  grid-column: span 3;
}
.view{
  text-align: center;
  height: fit-content;
  grid-column: span 12;
}

.news-content .title-seccion.big{
  grid-column: span 3;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  text-align: center;
  line-height: 120%;
  color: grey;
  padding: 0 100px;

}
.selector-wrapper {
  width: 200px;
  text-align: center;
  height: fit-content;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  border-radius: 0px;
  background: #d3d3d3;
  padding: 8px;
}
.product-description{
  font-size: clamp(var(--big), 1.5vw, 2rem);
  line-height: 120%;
  color: grey;

}

.news-content .view{
  grid-column: span 3;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  text-align: center;
  line-height: 120%;
  padding: 0px;

}
div#shopify-section-hero img {
    left: 0px;
    top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input[type="checkbox"],
button,
select {
  width: 100%;
  display: block;
  cursor: pointer;
}
select {
  width: 100%;
}
* {
  font-family: var(--body);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}
.product-sizes{
  display:none;;
}
.at-a{
  text-transform: uppercase;
}
/* header */
  #header{
    position: sticky;
    top: 0px;
    background-color: rgba(2555, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    z-index: 10;
    padding: 10px 0px;
  }
  .menu-open{
    display: none;
  }

  #nav{
    align-items: center;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap; 
    grid-gap: 15px;
    row-gap: 0px;
  }
  #nav > div{
    grid-column: span 3;
  }
  .intro {
    font-size: var(--big);
    line-height:var(--lh);
    text-align: left;
    display: none;
}div#bag-total{
  display: flex;
  gap:10px;
  margin-top: 20px;
}
  button#add-to-cart{;
    font-size: var(--main)!important;
    height: 100%;
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: #0000004d;
    color: #fff;
    
  }
  .product-description {
    margin-top: 10px;
    padding-right: 20%;
    font-size: clamp(var(--big), 1.5vw, 2rem)!important; 


  }
  button#checkout {
    font-family: var(--body);
    font-size: var(--main)!important;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 5px;
    padding-bottom: 5px!important;
    background-color: #000;
    color: #fff;
  }
  .image-container {
    padding-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    display: none; 
    transition: height 2s ease;
  }
  a.logo-home {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}
  .categories{
    column-count: 4;
    flex-basis: 100%;
    line-height:0px;
    opacity: 0;
    font-size: 0px; 
    transition: 0.5s ease;
  }
  .categories.hid{
    padding-top: 10px;
    column-count: 4;
    flex-basis: 100%;
    line-height:var(--lh);
    font-size: clamp(var(--big), 1.5vw, 2rem); 
	transition: 0.5s ease;
  }
  .categories.show .search-input{
    font-weight: 300;
    line-height:var(--lh);
    font-size: clamp(var(--big), 1.5vw, 2rem)!important; 
    height: fit-content;
    order: 2;
    color: #000;
  }
  .search-input{
    font-weight: 300;
    line-height:0px!important;
    font-size:0px!important;
    height: fit-content;
    order: 2;
    color: #000;
  }

  .categories.show{
    opacity: 1;
    transition: 0.5s ease;
  }
  .cat.active {
    color: grey;
  }
  .categories a.active{
    color: grey;
  }
  .cart-part{
    display: flex;
    justify-content: space-between;
  }
  .cart-part:hover{

    background-color: var(--yellow)!important;
  }
  .cart-part.active{
    color: black!important;
    background-color: var(--yellow)!important;
  }


  .title-seccion.big {
    text-align: center;
    grid-column: span 4;
}
  input{
    font-weight: 300;
    width: 100%;
    overflow: visible;
    color:black;
    font-family:var(--body);
    font-size:var(--main)!important;
  }



  .double {
    grid-template-columns: repeat(2 ,1fr);
    display: grid;
    padding: 5px;
    column-gap: 2px;
    grid-column: span 2;
  }
  .product-title{
    line-height: var(--lh);
    font-size: clamp(var(--big), 1.5vw, 2rem);
  }
  .product-title a{
    color: grey;;
  }



/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}


body {
  padding: 0px 15px;
  font-size: clamp(var(--main), 0.75vw, 1rem);
  line-height:var(--lh);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
  transition: opacity 1s ease;
  font-weight: 300;
}

body.active{
  opacity: 1;
}


/* Image and video styles */
img,
video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Link styles */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Menu styles */
.gallery {
  grid-column: 4/ span 6;
  margin-top: 20px;
}
.gallery-article {
  grid-column: span 12;
  margin-top: 20px;
}
.gallery_collection {
  grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 12;
}
#header a{
  display: block;
}


section#desplegable {
  row-gap: 100px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* SHOP */
.main {
  margin-top: 100px;
  min-height: 100%;
  flex-grow: 1;
  display: grid;
  row-gap: 100px;
  grid-template-columns: repeat(12, 1fr);
}
.related {
  margin-top: 100px;
  flex-grow: 1;
  display: grid;
  row-gap: 100px;
  grid-template-columns: repeat(12, 1fr);
}

#products {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 100px;
}

.sold-out {
  padding: 5px;
}
/* Footer styles */
footer {
    padding-top: 200px !important;
    display: block;
    align-items: end;
    padding: 5px;
    padding-bottom: 10px !important;
    margin-top: auto;
}

section#stocklist {
  grid-column: span 4;
}
.stocklist {
  grid-column: span 6;
}
.location {
  color: grey;
}
section#stocklist .section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:5px;
}
section#stocklist .sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: clamp(var(--main), 0.75vw, 1rem);
}


.stocklist {
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
}
.footer-menu{
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
  margin-bottom: 10px;
}
.footer-menu a{
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
}
.section-title.big {
  margin-top: 100px;
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem); 
}
p.info-collection{
  color: grey;
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem); 
}
/* About styles */
@media (max-width: 1200px) {
}
/* Mobile card styles */
@media (max-width: 812px) and (orientation: landscape) {
}
@media only screen and (max-width:3920px) and (min-width:1540px){
}
/* Mobile landscape styles */
@media (max-width: 1200px) {
}
/* Mobile styles */
@media (max-width: 600px) {
}
/* Small mobile styles */
@media (max-width: 320px) {
}
