@charset "utf-8";
/* CSS Variables */
:root {
  --main: 16px;
  --med: 24px;
  --big: 24px;
  --lh:120%;
  --gap: 10px;
  --grey: #f1f2f2;
  --body: 'helvetica';
}
::selection{
  color:var(--blue);
  background-color: black;
}
.show-description.description{
  font-size: var(--med);
  line-height: 120%;

}
.variantes-sec{
  display: none;
}
a:hover{
  color:grey;
}
.ui-admin-bar--is-collapsed .ui-admin-bar__content {
  padding: 0;
  background: transparent;
  display: none!important;
}
/* Fonts */
@font-face {
  font-family: 'helvetica';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.product {
  grid-column: span 3;
}

@font-face {
  font-family: 'Kamerik105-Book';
  src: url('../assets/Kamerik105-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.m{
  padding: 5px;
}
html {
  padding-bottom: 0px!important;
}

ol,
ul,
li {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}


div#product-price , .product-price-wrap, .product-price{
  letter-spacing: 1px;
  /* font-size: 14px; */
}
input,
button,
select {
  font-size: clamp(var(--big), 1.5vw, 2rem)!important;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--body);
  font-size:var(--main)!important;
}
.product-simple #product-select{
  display: none;
}
.product-simple .selector-wrapper{
  display: none;
}
.hero{
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  width: 100;
  top: 0;
  margin: 0 auto;
  grid-column: span 12;

}
label[for="product-select"] {
  display: none;
}
.full-body {
  margin-top: 60px;
  grid-gap:10px;
  min-height: 100%;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.hero .simple-text{
  margin-top: 2px;
  margin-bottom: 2px;
  position: absolute;
  text-align: center;
  z-index: 0;
  padding: 20px 0px;
  color: white;
  background-color: var(--blue);
}
label {
  display: none;
}


.news-content {
  align-items: center;
  grid-template-columns: repeat(3, 11fr);
  grid-column: span 8;
  display: grid;
  grid-gap: 2px;
}
.news-content .view{
  grid-column: span 3;
}
.view{
  height: fit-content;
  grid-column: span 12;
}
.about-content{
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
}
.title-about{
  line-height: 120%;
}
div#shopify-section-ab {
}
.content-inside p{
  font-size: clamp(var(--big), 1.5vw, 2rem);
  line-height: 120%;
}
.last{
  margin-bottom: 20px;
}
.news-content .title-seccion.big{
  grid-column: span 3;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  line-height: 120%;
  color: grey;
  padding: 10px 0px;

}
.selector-wrapper {
  width: 200px;
  text-align: center;
  height: fit-content;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  border-radius: 0px;
  border: 1px solid black;
  padding: 8px;
}
.product-description{
  font-size: clamp(var(--big), 1.5vw, 2rem);
  line-height: 120%;

}
div#content {

  background-color: #fffc;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: fit-content;
  order: 2;

  position: sticky;
  top: calc(var(--nav) + 0px);
}
.gallery-content.full-width {
  grid-column: span 4;
}
.gallery-content.mid-width {
  grid-column: span 4;
}
.gallery-images {
  grid-gap: 20px;
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news-content .view{
  grid-column: span 3;
  font-size: clamp(var(--big), 1.5vw, 2rem);
  line-height: 120%;
  padding: 0px;

}
div#shopify-section-hero img {
    left: 0px;
    top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input[type="checkbox"],
button,
select {
  border: 0px!important;
  width: 100%;
  display: block;
  cursor: pointer;
}

select {
  width: 100%;
}
* {
  font-family: var(--body);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}
.product-sizes{
  display:none;;
}
.at-a{
  text-transform: uppercase;
}
/* header */
  #header{
    position: sticky;
    top: 0px;
    display: flex;
    grid-gap:15px;
    background-color: rgba(2555, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    z-index: 10;
    padding: 10px 0px;
  }
  .menu-open{
    display: none;
  }
 

  #nav{
    align-items: center;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap; 
    grid-gap: 15px;
    row-gap: 0px;
  }
  #nav > div{
    grid-column: span 3;
  }
  .intro {
    display: flex;
    height: 100vh;
    color: white;
    width: 100%;
    z-index: 1;
    position: absolute;
    font-size: var(--big);
    line-height: var(--lh);
    text-align: center;
    grid-column: span 12;
}
div#bag-total{
  display: flex;
  gap:10px;
  margin-top: 20px;
}
  button#add-to-cart{
    font-size: var(--main)!important;
    height: 100%;
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: black;
    color: #fff; 
  }
  button#add-to-cart:hover{
    background-color: #454545f3;
    color: #fff; 
  }
  .product-description {
    margin-top: 10px;
    font-size: clamp(var(--big), 1.5vw, 2rem)!important; 


  }
  button#checkout {
    font-size: var(--main)!important;
    height: 100%;
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: #0000004d;
    color: #fff;
    
  }
  button#checkout {
    font-size: var(--main)!important;
    height: 100%;
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: #000000f3;
    color: #fff;
    
  }
  button#checkout:hover {
    background-color: #454545f3;
    color: #fff;
    
  }
  .image-container {
    padding-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  strong {
    color: grey;
    font-weight: 300;
}
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    display: none; 
    transition: height 2s ease;
  }
  a.logo-home {
    line-height: 0px;
}
.thumbnail:hover #block{
  display: block;
}
.thumbnail:hover #none{
  display: none;
}
#block{
  display: none;
}
  .categories{
    column-count: 4;
    flex-basis: 100%;
    line-height:0px;
    opacity: 0;
    font-size: 0px; 
    transition: 0.5s ease;
  }
  .categories.hid{
    padding-top: 10px;
    column-count: 4;
    flex-basis: 100%;
    line-height:var(--lh);
    font-size: clamp(var(--big), 1.5vw, 2rem); 
	  transition: 0.5s ease;
  }

  .categories.show .search-input{
    transition-delay: 0.5s;
    font-weight: 300;
    line-height:var(--lh);
    font-size: clamp(var(--big), 1.5vw, 2rem)!important; 
    height: fit-content;
    order: 2;
    display: block;
    transition: 0s ease;
    color: #000;
  }
  .caption {
    grid-column: span 3;
    margin-top: 10px;
}
.image-full{
  height: 100vh;
  grid-column: span 3;
  overflow: hidden;
}
.image-full img{
  grid-column: 1/span 3;
  height: 100%;
  object-fit: cover;
}
  .shop.pr{
    pointer-events: none;
  }
  .search-input{
    transition-delay: 0.5s;
    font-weight: 300;
    line-height:0px!important;
    font-size:0px!important;
    height: fit-content;
    order: 2;
    color: #000;
  }
  .item-quantity {
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    display: flex;
}

span.quantity-button.minus, span.quantity-button.plus {
  width: 100%;
  text-align: center;
  border: 0.5px solid black;
  background-color: white;
  cursor: pointer;
  padding: 5px;
}
/* span.quantity-button.minus:hover {
  width: 100%;
  text-align: center;
  border: 0.5px solid black;
  background-color: var(--grey);
  cursor: pointer;
  padding: 5px;
} */
/* span.quantity-button.plus:hover {
  width: 100%;
  text-align: center;
  border: 0.5px solid black;
  background-color: var(--grey);
  cursor: pointer;
  padding: 5px;
} */
  .categories.show{
    opacity: 1;
    transition: 0.5s ease;
  }
  .cat.active {
    color: grey;
  }
  .categories a.active{
    color: grey;
  }
  .cart-part{
    display: flex;
    justify-content: space-between;
  }
  .cart-part:hover{

    background-color: var(--yellow)!important;
  }
  .cart-part.active{
    color: black!important;
    background-color: var(--yellow)!important;
  }
  section.info-page {
    display: grid;
    row-gap: 20px;
}

  .title-seccion.big {
    grid-column: span 4;
}
  input{
    font-weight: 300;
    width: 100%;
    outline: none;
    overflow: visible;
    color:black;
    font-family:var(--body);
    font-size:var(--main)!important;
  }


  .shopify-section-contact{
    display: grid;
    row-gap:10px;
    margin-top: 60px;

  }
  .page-content{
    margin-top: 38px;
  }

  .double {
    margin-bottom: 5px;
    grid-template-columns: repeat(2 ,1fr);
    display: grid;
    column-gap: 2px;
    grid-column: span 2;
  }
  .total{
    top: var(--nav);
    position: sticky;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    column-gap: 2px;
    background-color: rgba(2555, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    row-gap:10px;
    grid-column: span 2;
  }
  .remove{
    grid-column: span 2;
    width: 100%;
  }
  .product-title{
    margin-top: 10px;
    line-height: var(--lh);
    font-size: clamp(var(--med), 1.5vw, 2rem);
  }
  .product-title a{
    color: black;
  }
  .content-infos {
    font-size: clamp(var(--big), 1.5vw, 2rem);
    line-height: 120%;
}


/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}


body {
  padding: 0px 15px;
  font-size: clamp(var(--main), 0.75vw, 1rem);
  line-height:var(--lh);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
  font-weight: 300;
}

body.active{
  opacity: 1;
}


/* Image and video styles */
img,
video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title-infos {
  font-size: var(--main);
  color: black;
}

/* Link styles */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


/* Menu styles */
.gallery {
  grid-column: 4/ span 6;
  margin-top: 20px;
}
.gallery-article {
  grid-column: span 12;
  margin-top: 20px;
}
.gallery_collection {
  grid-gap: 2px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column: span 1;
}

#header a{
  display: block;
}
strong{
  color: black!important;
}

section#desplegable {
  row-gap: 20px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* SHOP */
.main {
  position: relative;
  min-height: 100%;
  flex-grow: 1;
  display: grid;
  row-gap: 100px;
  grid-template-columns: repeat(12, 1fr);
}
.related {
  margin-top: 100px;
  flex-grow: 1;
  display: grid;
  row-gap: 100px;
  grid-template-columns: repeat(12, 1fr);
}
.name {
  grid-column: span 3;
}
#products {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 100px;
  grid-gap:10px;
}
div#shopify-section-aim{
  max-width:1300px;
  margin: 0 auto;
  align-content: center;
  }
.sold-out {
  padding: 0px;
}
/* Footer styles */
footer {
    display: flex;
    position: relative;
    padding-top: 100px !important;
    display: block;
    align-items: end;
    padding: 5px;
    padding-bottom: 10px !important;
    margin-top: auto;
}
svg {
  width: 60px;
  height: auto;
}


.cred{
  position: absolute;
  right: 0px;
  bottom: 10px;
}
section.about-page {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.image-infos {
    padding-top: 10px;
    margin: 0 auto;
}

section#stocklist {
  grid-column: span 4;
}
.stocklist {
  grid-column: span 6;
}
.location {
  color: grey;
}
section#stocklist .section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:5px;
}
section#stocklist .sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: clamp(var(--main), 0.75vw, 1rem);
}

.stocklist {
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
}
.footer-menu{
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
  margin-bottom: 0px;
}
.footer-menu a{
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem);
  grid-column: span 12;
}
.section-title.big {
  margin-top: 60px;
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem); 
}
select:focus {
  outline: none;
  box-shadow: none; /* Esto también elimina cualquier sombra de foco */
  border: 1px solid #ccc; /* Esto es opcional para agregar un borde personalizado */
}
p.info-collection{
  color: grey;
  line-height:var(--lh);
  font-size: clamp(var(--big), 1.5vw, 2rem); 
  margin-bottom: 10px;
}
form#cart-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap:10px;
}
form#cart-wrapper .item {
  min-width: 400px;
}

@media only screen and (max-width:3920px) and (min-width:1540px){
}
/* Mobile landscape styles */
@media (max-width: 1200px) {
  .full-body {
    margin-top: 60px;
    grid-gap:10px;
    min-height: 100%;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }
  div#content{
    order: 0;
  }
  .product {
    grid-column: span 6;
  }
  .categories {
    column-count: 2;
}
  .categories.hid {
    column-count: 2;
}
  .categories.hid.show {
    column-count: 2;
}
.cart-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}
/* Mobile styles */
@media (max-width: 600px) {

  body{
    padding:0px 10px;
  }
  .list-cat {
    column-count: 2;
}
  .cart-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div#content {
  background-color: #fffc;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: fit-content;
  order: 2;
  position: sticky;
  top: calc(var(--nav) + 0px);
  grid-column: span 1;
}
.selector-wrapper {
  width: 50%;
}
  .news-content img {
    margin-top: 20px;
    grid-column: span 1;
}
  .product {
    grid-column: span 12;
   }
   .news-content {
    grid-template-columns: repeat(1, 1fr);
}
  .categories {
    column-count: 1;
  }
  .categories.hid {
    column-count: 1;
  }
  .categories.hid.show {
    column-count: 1;
  }
  .gallery_collection {
    grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column: span 1;
  }
  :root {
    --main: 12px;
    --med: 19px;
    --big: 19px;
    --lh:120%;
    --gap: 10px;
    --grey: #f1f2f2;
    --body: 'helvetica';
  }
  .cart-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
  .item-quantity {
    grid-column: span 2;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    display: flex;
}
  section#stocklist .sec {
    display: none;
  }

  form#cart-wrapper .item {
    grid-column: span 5!important;
    width: 100% !important;
    min-width: auto;
    grid-column: span 5 !important;
}
.double {
  margin-bottom: 5px!important;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  column-gap: 5px!important;
  grid-column: span 2;
}
form#cart-wrapper .item img{
    width: 50%;
}
  .total {
    top: var(--nav);
    position: sticky;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    display: grid;

    column-gap: 2px;
    grid-column: span 5;
}
  button#checkout {
    width: 100%;
}
  section#stocklist .section {
    grid-gap: 5px;
}

  .product-description {
    margin-top: 10px;
    padding-right: 0%;
    font-size: clamp(var(--med), 1.5vw, 2rem) !important;
  }


  .hero{
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    width: 100;
    top: 0;
    margin: 0 auto;
    grid-column: span 12;
  
  }

  section#desplegable {
    margin-top: 60px;
    row-gap: 20px;
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
section.about-page {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr)!important;
}
button#checkout {
  grid-column: span 2;
}
.hero{
  order: -1;
  min-height: auto;
}
.title-seccion.big{
  padding: 0px;
}
div#block-media_X7hnjE {
  height: calc(var(--h) - var(--nav));
}
.caption{
  grid-column: span 1;
}
.image-full{
  height: auto;
  grid-column: span 1;
  overflow: hidden;
}
.image-full img{
  object-fit: contain;

}
.gallery-images {
  grid-gap: 20px;
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.item-quantity {
  margin-top: 10px!important;
}
form#cart-wrapper .item {
    grid-column: 4 / span 2;
}
.news-content .title-seccion.big {
  padding: 0;
}
#header{
  display: block;
}
svg{
  width: 75px;
  height: auto;
}
.intro {
  display: flex;
  height: auto;
  color: black;
  width: 100%;
  z-index: 1;
  position: relative;
  font-size: var(--big);
  line-height: var(--lh);
  text-align: center;
  grid-column: span 12;
}
.search {
  margin-top: 10px;
}
#nav{
  margin-top: 10px;
  font-size: var(--med);
  display: block;
  line-height: 120%;
}
}
