<div class="section-title big">
  {{ collection.title }}
</div>
<p class="info-collection">{{ collection.description | strip_html }}</p>

<div id="products">
  {% paginate collection.products by 10000 %}
  {% for product in collection.products  %}
		{% include 'product-body' %}
  {% endfor %}
{% endpaginate %}
</div>


<style>
  form#product-actions {
    height: 0px;
    display: none;
}
</style>