<div class="page-content">
    {% section 'ab' %}
  </div>

 <style>
  a.logo-home.desk.once{
    display: block!important;
  }
  a.logo-home.desk{
    display: none!important;
  }
  svg {
    height: 12px;
    width: auto;
}
</style> 

  
  