<div class="page-content">
  {% section 'info' %}
</div>

  <style>
.page-content{
    padding:5px;
    margin-top:2px;
    font-size: var(--big);
    line-height:calc(var(--big) + 5px);
    background:var(--grey);
}
</style>